.event-parent {
    display: grid;
    width: 100%;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-right: 40px;
}

.left-top {
    height: 90px;
    grid-area: 1 / 1 / 2 / 2;
}

.right-top {
    height: 90px;
    float: left;
    text-align: left;
    padding-top: 45px;
    grid-area: 1 / 2 / 2 / 3;
    color: #EFC862;
    font-weight: normal;
    font-size: 28px;
    min-width: 450px;
}

.left-bottom {
    grid-area: 2 / 1 / 3 / 2;
}

.right-bottom {
    grid-area: 2 / 2 / 3 / 3;
}

.details {
    display: flex;
    align-items: flex-start;
    background-color: #262626;
    color: #f2f2f2;
    font-size: 13px;
    padding: 15px;
    border: 1px none;
    border-radius: 16px;
    flex-direction: column;
    height: 592px;
    overflow: hidden;
    position: relative;
    width: 398px;
}

.event-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.event-box {
    margin-left:35px;
    align-self: auto;
    flex:0 1 auto;
    margin-top: -20px;
}