
.left-content {
    align-items: center;
    border: 1px none;
    background-color: #373739;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    gap: 16px;
    height: 62px;
    padding: 13px 0px 13px 15px;
    width: 395px;
    color:#f2f2f2;
    font-size: 13px;
}

.chevron-right {
    height: 24px;
    min-width: 24px;
}
.link-inv{
    color:#f2f2f2
}
.investigating-link {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.to-continue-investig {
    color:
        #ffffff;
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-m);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
}