.analytic {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2px;
    width: 100%;
    font-size: 11px;
    
}

.analytic .head {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 11px;
    vertical-align: text-top;
}

.analytic .description {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: -10px;
}

.analytic .group {
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    vertical-align: baseline;
    margin-top: 11px;
}